html {
    display: flex;
    height: 100%;
    font-family: 'Permanent Marker', cursive;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    background-image: url("images/chalck-board.jpg");
    background-size: 100% auto;
    background-color: rgb(2, 46, 2);
    color: white;
    width: 100%;
    font-size: 26px;
    
}


#round-result {
    color: #cf4707e0;
}

#final-result {
    
    color: rgb(7, 76, 122);
}


#score {

    color: rgb(209, 45, 100);
}
div#buttons-container { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div#results-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.clicked {
    transform: scale(1.5);
    color: #ffc600;
}

#buttons-container button,
button#again-button {
    font-family: 'Permanent Marker', cursive;

    --b: 7px;   /* border thickness */
    --s: .45em; /* size of the corner */


    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    
    border: 0;

    /* Button slanted */
    -ms-transform: skewX(-8deg);
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);

    }

#buttons-container button{
    font-size: 28px;
    --b: 6px;   /* border thickness */
    --color: white;
    transition: all 1.5s;
    
}

button#again-button {
    font-size: 22px; 
    --b: 4px;   /* border thickness */
    --color: rgb(100, 7, 250);
}

 
.hidden {
   display: none;
}